* {
    box-sizing: border-box;
    margin: 0; padding: 0;
     align-items: center;
	}
html {
	overflow-x: hidden;
}
.container {
    width: 1170px;
    margin: 0 auto;
    display:flex;
    flex-wrap: wrap;
    align-self: flex-start;
}
[class*="col-"] {
    display: flex;
  }
.col-lg-1{ width: 8.33%;}
.col-lg-2{ width: 16.66%;}
.col-lg-3{ width: 25%;}
.col-lg-4{ width: 33.33%;}
.col-lg-5{ width: 41.66%;}
.col-lg-6{ width: 50%;}
.col-lg-7{ width: 14.29%;}
.col-lg-8{ width: 66.66%;}
.col-lg-9{ width: 74.97%;}
.col-lg-10{ width: 83.33%;}
.col-lg-12{ width: 100%;}
.row{width: 100%;}

.oft-2{margin-left: 16.66%;}
.oft-4{margin-left: 33.33%;}


html, body, p{
    font-family: 'Roboto Slab', 'Arial', serif;
}

@media screen and (max-width: 979px) {
    .container {
        width: 749px; margin: 0 auto;
    }
    .col-m-1{ width: 8.33%;}
	.col-m-2{ width: 16.66%;}
	.col-m-3{ width: 25%;}
	.col-m-4{ width: 33.33%;}
	.col-m-5{ width: 41.66%;}
	.col-m-6{ width: 50%;}
	.col-m-7{ width: 58.33%;}
	.col-m-8{ width: 66.66%;}
	.col-m-10{ width: 83.33%;}
	.col-m-12{ width: 100%;}
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  	.container {width: 100%; margin: 0 auto;}
  	.col-sm-1{ width: 8.33%;}
	.col-sm-2{ width: 16.66%;}
	.col-sm-3{ width: 25%;}
	.col-sm-4{ width: 33.33%;}
	.col-sm-5{ width: 41.66%;}
	.col-sm-6{ width: 50%;}
	.col-sm-7{ width: 58.33%;}
	.col-sm-8{ width: 66.66%;}
	.col-sm-10{ width: 83.33%;}
	.col-sm-12{ width: 100%;}
}